/**********  BASE STYLES  **********/



body {
	
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	margin: 20px;
	
	
}


/********** GRID **********/



.full-width {
	
	margin: 0 auto;
	width: 1200px;
		
}


.half-width {
	
	float: left;
	width: 600px;
	
}


.third-width {
	
	float: left;
	width: 338px;
	
}



/**********  HEADER  **********/


h1 {
	
	font-family: 'Montserrat Bold', sans-serif;
	font-size: 32px;
	
}


h1 span {
	color: #77a466;
	
}


nav {
	
	float: right;
	padding: 15px 0px 30px 0px;
		
}

nav ul li {
	
	display: inline-block;
	
}

nav ul li a {
	
	color: #77a466;
	font-family: 'Montserrat Bold', sans-serif;
	font-size: 14px;
	padding-left: 12px;
	text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	
}


/**********  TOP SECTION  **********/


#bean-image {
	
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
			
}


h2 {
	
	color: #77a466;
	font-family: 'Montserrat Bold', sans-serif;
	font-size: 18px;
	margin: 25px 0px 25px 0px;
	
}


#top-section p {
	
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 20px;
}


/**********  BOTTOM SECTION  **********/


#left, #middle, #right {
	
	border-top: 2px solid #dedbdc;
	
}

#middle, #right {
	
	padding: 20px 30px 20px 30px;
			
}


h4 {
	
	color: #000000;
	font-family: 'Montserrat Bold', sans-serif;
	font-size: 12px;
}


.third-width p {
	
	color: #000000;
	font-size: 15px;
	line-height: 23px;
	
}


/*****  BOTTOM LEFT  *****/


#left {
	
	border-right: 2px solid #dedbdc;
	padding: 20px 30px 20px 0px;
	
}


#left p span {
	
	color: #77a466;
	line-height: 35px;
		
}


/*****  BOTTOM MIDDLE  *****/


#middle {
	
	border-right: 2px solid #dedbdc;
			
}


/**********  FOOTER  **********/


footer h2 {
	
	border-top: 2px solid #dedbdc;
	clear: both;
	color: #000000;
	font-family: 'Montserrat Regular', sans-serif;
	margin-right: 20px;
	padding-top: 30px;
	text-align: center;
		
}


footer h2 span {
	
	color: #77a466;
	font-family: 'Dancing Script', cursive;

}

